@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
/* *{
    border: 1px dotted green;
} */

.container{
    margin: auto;
    width: 90%;
    text-align: center;
}

.green{
    background-color: green;
    pointer-events: none;
}
.red{
    background-color: red;
    pointer-events: none;
}
.yellow{
    background-color: yellow;
    pointer-events: none;
}

/* .ng-valid {} */
.ng-invalid { color: red; }

.btn{
    margin: 0px 5px;
}

.down{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: relative;
    top: 15px;
    left: 10px;
}
.up{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    position: relative;
    top: -15px;
    left: 10px;
}